# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TRIP_UPDATES_TOPIC=sncf.trip_updates.raw

# PostgreSQL
POSTGRES_DB=sncf_analytics
POSTGRES_USER=sncf_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432